body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}
  
  .total-outro {
    height: auto;
    padding-bottom: 50px;
    text-align: center;
    margin-bottom: 50px;
    /* background-color:aliceblue; */
}
  
 .p5-hakuFrame {
  width:800px;
  height: 400px;
  position: relative;
  left: 23%;

 }

 .back {
  position: relative;
    bottom:40%;
    left: 23%;
    font-size: 24pt;
    width: auto;
    text-align: center;
    color:white;
    display: flex;

 }

.travel-image1 img{
    height: auto;
    width: 50%;
    background-color: deepskyblue;
    position: relative;
    display: flex
}

.outro-diary1{
    height: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: fuchsia;
    position: relative;
    display: flex


    
}
  
.outro-diary2{
    height: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lavender;
    position: relative;
    display: flex


}

.travel-image2 img {
    /* background-color: lightsalmon; */
    position: relative;
    transform: scale(0.5); 
    display: flex;
    width: 50%;
    height: auto;


}

.left {
  width:50%;
  height:auto;
  position: relative;
  display: inline-flex;
}

.right {
  width: -50%;
  height: auto;
  position: relative;
  display: inline-flex;

}

iframe {
  display: block;
}
