body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
  }
.title {
        position: relative; 
        /* position keeps it the same size as you zoom */
}
  .title img {  
    padding: 0%;
    margin-bottom: 100px;
    width: 60%;
    height:auto;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
        /* background-color: blue; */

  }

  .intro-diary {
    padding:0%;
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    position: relative;
    /* background-color: blueviolet; */
  }

  .intro-diary img {
    padding: 0%;
    margin: 0%;
    width: 75%;
    height:auto;
    position: relative;
    top: 0;
    left: 20%;
    transform: translateX(-50%);
    transform:rotate(-10deg);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
        /* background-color: blue; */

  }

  .main-theme#button{
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    left: 90%;
    top: 40%;
  }
  
  #button img{
    width: 40%; /* Adjust the width as needed */
    height: auto; /* This will maintain the aspect ratio of the image */
    /* display: block; This removes any extra space below the image */
    position: relative;
    flex: 0 0 auto;
    border: 2px solid;
    border-radius: 10px;
    color:antiquewhite

  }


  .mission-details {
    text-align: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block; 
    color:antiquewhite;
    background-color: coral;

  }

  .mission-detailsFrame {
    position: relative;
     width:700px;/* !important; */
    height: 400px;
    margin-top: 0%;
    left:10%
  }
 
  .scene-1 {
    position:relative;
    height:auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    background-color: darkgoldenrod;
  }


  .scene-1Frame {
    width: 500px; 
    height: 500px;
    position:relative;
  left:20%;
  background-color: darkkhaki;
  }

  

  .scene-2 {
    position:relative;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: darkgreen;


  }  
  .scene-2Frame {
    width: 500px; 
    height: 500px;
    position:relative;
    left:50%;
    display:block;


  }
  
  .scene-3 {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkkhaki;
    position:relative;

  }  
  .scene-4 {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkred;
    position:relative;

  } 
   .scene-5 {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkseagreen;    
    position:relative;

  }  

  .the-end {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:thistle;
    position:relative;

  }
  /* .total-outro {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:aliceblue;
    position:relative;

}
.p5-haku{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: cadetblue;
    position:relative;
    display: block;
  }
  
 .p5-hakuFrame {
  width:100%;
  height: 400px;
 left:50%; 
  position:relative;
  ;
 }

.travel-image1 {
    height: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: deepskyblue;
}

.outro-diary1{
    height: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: fuchsia;
}
  
.outro-diary2{
    height: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lavender;
}

.travel-image2{
    height: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: lightsalmon;
}
iframe {
  display: block;
} */
