body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
  }

  .title {  
    padding: 40px;
    margin-bottom: 50px;
    display: absolute;
    background-color: blue;
    text-align: center;
  }

  .intro-diary {
    text-align:center;
    width: 50%;
    height: 200px;
    margin: 5px;
    display: absolute;
    background-color: blueviolet;
  }

  .main-theme {
    position:absolute;
    top:0;
    right:0;
    background-color: brown;
  }

  .p5-Haku{
    width: 400px;
    background-color: cadetblue;
  }

  .subtitle {
    width:40px;
    background-color: coral;
  }

  .scene-1 {
    width:40px;
    background-color: darkgoldenrod;
  }

  .scene-2 {
    width:40px;
    background-color: darkgreen;
  }  
  .scene-3 {
    width:40px;
    background-color: darkkhaki;
  }  
  .scene-4 {
    width:40px;
    background-color: darkred;
  } 
   .scene-5 {
    width:40px;
    background-color: darkseagreen;
  }  
.travel-image1 {
    width: 40px;
    background-color: deepskyblue;
}

.outro-diary1{
    width:40px;
    background-color: fuchsia;
}
  
.outro-diary2{
    width:40px;
    background-color: lavender;
}

.travel-image2{
    width:40px;
    background-color: lightsalmon;
}